@import "./theme/variables";
@import "../node_modules/ngx-toastr/toastr.css";

input {
  padding: 8px 12px;
  border-radius: 3px;
  border: none;
  margin-right: 12px;
}

button {
  background-color: $citron;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;

  &:hover {
    background-color: darken($citron, 5);
  }
}

.danger {
  background-color: $rust;

  &:hover {
    background-color: darken($rust, 5);
  }
}
