<div>
  <h3 routerLink="/">Dating app</h3>
  <div class="actions" *ngIf="accountService.currentUser$ | async">
    <span routerLink="/members" routerLinkActive="active">Matches</span>
    <span routerLink="/lists" routerLinkActive="active">Lists</span>
    <span routerLink="/messages" routerLinkActive="active">Messages</span>
    <span routerLink="/errors" routerLinkActive="active">Errors</span>
  </div>
</div>

<form
  *ngIf="(accountService.currentUser$ | async) === null"
  #loginForm="ngForm"
  (ngSubmit)="login(loginForm)"
  autocomplete="off"
>
  <input name="username" ngModel type="text" placeholder="Username" />
  <input name="password" ngModel type="password" placeholder="Password" />
  <button>Login</button>
</form>
<button *ngIf="accountService.currentUser$ | async" (click)="logout()">
  Logout
</button>
