@import "../../theme/variables";

:host {
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 8% 22px;

  .actions {
    display: inline;
  }

  span,
  h3 {
    padding-right: 12px;
    cursor: pointer;

    &:hover {
      color: lighten($citron, 20);
    }

    &:focus {
      outline: none;
    }
  }

  h3 {
    display: inline;
    margin-right: 16px;
    color: lighten($citron, 20);
  }

  .active {
    color: $citron;
    outline: none;
  }
}
